<a href="https://colab.research.google.com/github/Madhavi15-MT/Python/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
student = {
    "name" : "Madhu",
    "age" : 30,
    "Company" : "xyz",
    "salary" : 20000,
    "transport" : "metro"
           }

In [4]:
print(student)

{'name': 'Madhu', 'age': 30, 'Company': 'xyz', 'salary': 20000, 'transport': 'metro'}

In [5]:
student['name']

'Madhu'

In [7]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
new_dict = dict(zip(keys, values))
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [8]:
print(student.items())

dict_items([('name', 'Madhu'), ('age', 30), ('Company', 'xyz'), ('salary', 20000), ('transport', 'metro')])

In [9]:
student.items()

dict_items([('name', 'Madhu'), ('age', 30), ('Company', 'xyz'), ('salary', 20000), ('transport', 'metro')])

How do you create a dictionary where the keys are numbers from 1 to 5 and the values are their squares? Use dictionary comprehension.

In [12]:
new_dict1 = {i: i**2 for i in range (1,6)}
print(new_dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [18]:
scores = {'Alice': 88, 'Bob': 95, 'Charlie': 78}
sorted_scores = dict(sorted(scores.items(), key=lambda x: x[1]))
print(sorted_scores)

{'Charlie': 78, 'Alice': 88, 'Bob': 95}