<a href="https://colab.research.google.com/github/Madhavi15-MT/Python/blob/main/Lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda Functions: is a small, anonymous (unnamed) function that can have any number of arguments but can only have one expression.

Basic Arguments

In [1]:
add_lambda = lambda x: x + 25
print(add_lambda(10))

35

# 1. Simple operations

In [3]:
# Lambda Function Examples

print("=== Basic Lambda Examples ===")


add = lambda a, b: a + b
multiply = lambda a, b: a * b
power = lambda x, y: x ** y

print(f"5 + 3 = {add(5, 3)}")
print(f"4 * 6 = {multiply(4, 6)}")
print(f"2^3 = {power(2, 3)}")

=== Basic Lambda Examples ===
5 + 3 = 8
4 * 6 = 24
2^3 = 8


# Convert to squares

In [4]:
print("\n=== Lambda with map() ===")

numbers = [1, 2, 3, 4, 5]

squares = list(map(lambda x: x**2, numbers))
print(f"Original: {numbers}")
print(f"Squares: {squares}")

=== Lambda with map() ===
Original: [1, 2, 3, 4, 5]
Squares: [1, 4, 9, 16, 25]

# Convert Celsius to Fahrenheit

In [5]:

celsius = [0, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(f"Celsius: {celsius}")
print(f"Fahrenheit: {fahrenheit}")

Celsius: [0, 20, 30, 40]
Fahrenheit: [32.0, 68.0, 86.0, 104.0]

# Even Numbers

In [6]:
print("\n=== Lambda with filter() ===")

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter even numbers
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(f"All numbers: {numbers}")
print(f"Even numbers: {evens}")

=== Lambda with filter() ===
All numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even numbers: [2, 4, 6, 8, 10]

#Filters numbers greater than 5

In [7]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Filter numbers greater than 5
greater_than_5 = list(filter(lambda x: x > 5, numbers))
print(f"Greater than 5: {greater_than_5}")

Greater than 5: [6, 7, 8, 9, 10]

# Sort strings by length

In [ ]:
print("\n=== Lambda with sorted() ===")


words = ["python", "java", "c", "javascript", "go"]
sorted_by_length = sorted(words, key=lambda word: len(word))
print(f"Original: {words}")
print(f"Sorted by length: {sorted_by_length}")

# Sort tuples by second element

In [ ]:

students = [("Alice", 85), ("Bob", 92), ("Charlie", 78), ("Diana", 95)]
sorted_by_grade = sorted(students, key=lambda student: student[1])
print(f"Students by grade: {sorted_by_grade}")

print("\n=== Lambda with strings ===")

# Check if string is palindrome

In [8]:

is_palindrome = lambda s: s == s[::-1]
print(f"'racecar' is palindrome: {is_palindrome('racecar')}")
print(f"'hello' is palindrome: {is_palindrome('hello')}")

'racecar' is palindrome: True
'hello' is palindrome: False

# Get first character

In [ ]:

first_char = lambda s: s[0] if s else ""
words = ["apple", "banana", "cherry"]
first_letters = list(map(first_char, words))
print(f"Words: {words}")
print(f"First letters: {first_letters}")

# Max of two numbers

In [ ]:
print("\n=== Conditional Lambda ===")


max_of_two = lambda a, b: a if a > b else b
print(f"Max of 10 and 20: {max_of_two(10, 20)}")

# Absolute value

In [ ]:

abs_value = lambda x: x if x >= 0 else -x
print(f"Absolute value of -5: {abs_value(-5)}")

# Grade classification

In [9]:

grade_class = lambda score: "A" if score >= 90 else "B" if score >= 80 else "C" if score >= 70 else "F"
print(f"Score 85 gets grade: {grade_class(85)}")
print(f"Score 95 gets grade: {grade_class(95)}")

Score 85 gets grade: B
Score 95 gets grade: A

# Find maximum of three numbers

In [ ]:

max_three = lambda a, b, c: max(max(a, b), c)
print(f"Max of 10, 25, 15: {max_three(10, 25, 15)}")

In [ ]:


print("\n=== Multiple Arguments ===")

# Calculate area of rectangle
area = lambda length, width: length * width
print(f"Area of 5x3 rectangle: {area(5, 3)}")



print("\n=== Lambda in List Comprehension Alternative ===")

# Instead of list comprehension [x*2 for x in numbers]
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(f"Original: {numbers}")
print(f"Doubled: {doubled}")

# Filter and transform in one go
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_squares = list(map(lambda x: x**2, filter(lambda x: x % 2 == 0, numbers)))
print(f"Even numbers squared: {even_squares}")